body {
    background-image: url("../images/purple.crystal.JPG");
}

#container {
    margin: 100px auto;
    width: 100%;
    max-width: 960px;
    font-family: 'Muli', sans-serif;
    text-align: center;
    line-height: 50px;
}

#head-row {
    background-color: purple;
    font-size: 35px;
    color: white;
}

#instructions-row {
    background-color: white;
}

#cpuRandom-col {
    background-color: purple;
    width: 50%;
    float: left;
    color: white;
}

#results-col {
    background-color: purple;
    width: 50%;
    float: left;
    color: white;
}

.row {
    background-color: purple;
}

#image-row {
    background-color: white;
}

#win-col {
    width: 50%;
    float: left;
}

#totalScore-col {
    color: White; 
}

#displayTotalScore-col {
    background-color: white;
}