body {
    background-image: url("../images/purple.crystal.JPG");
}

#container {
    margin: 100px auto;
    width: 100%;
    max-width: 960px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 50px;
}

#head-row {
    background-color: orangered;
    font-size: 35px;
}

#instructions-row {
    background-color: lightgoldenrodyellow;
}

#cpuRandom-col {
    background-color: green;
    width: 50%;
    float: left;
}

#results-col {
    background-color: lightskyblue;
    width: 50%;
    float: left;
}

#redCrystal {
    background-color: red;
    width: 150 px;
    height: 150 px;
}

#blueCrystal {
    background-color: blue;
    width: 150 px;
    height: 150 px;
}

#yellowCrystal {
    background-color: yellow;
    width: 150 px;
    height: 150 px;
}

#greenCrystal {
    background-color: green;
    width: 150 px;
    height: 150 px;
}

.row {
    background-color: aqua;
}

#image-row {
    background-color: greenyellow;
}

#win-col {
    width: 50%;
    float: left;
}