h1 {
    background-color: orangered;
}

#instructions-row {
    background-color: lightgoldenrodyellow;
}

#cpuRandom-col {
    background-color: green;
}

#results-col {
    background-color: lightskyblue;
}